@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

a.lv1:after{background:#61bd4f}
a.lv2:after{background:#f2d600}
a.lv3:after{background:#eb5a46}
a.lv4:after{background:#c377e0}
a.lv5:after{background:#0079bf}
a:hover{color:#3081f7; text-decoration:underline;}

*{line-height:1.2em; font-family:'Pretendard'; font-weight:400; color:#000}
body{background:#fff;}
body>ul{display:flex; flex-wrap: wrap; align-items: flex-start; padding:20px}
body>ul>li{margin:10px; border-radius: 8px; background:#ededeb; flex-grow: 1; padding:10px;  box-shadow: 2px 2px 5px #7777775c; min-width:200px;}
body>ul>li.main_depth{width:100%; text-align: center;}
body>ul>li.main_depth a{margin-bottom:0; padding:10px 0}
body>ul>li>a{display:block; font-size:25px; font-weight:500}
body>ul>li>ul{margin-top:10px;}
body>ul>li>ul>li{margin-bottom:10px; padding:10px; box-shadow: 2px 2px 5px #7777775c; border-radius: 22px; background:#fff}
body>ul>li>ul>li:last-child{margin-bottom:0}
body>ul>li>ul>li>a{display:block; position:relative; padding-left:30px; font-size:20px; font-weight:600}
body>ul>li>ul>li>a:after{content:''; position:absolute; left:0; top:-2px; height:24px; width:24px; background:#e2e4e6; border-radius:50%}
body>ul>li>ul>li>ul{margin-top:15px;}
body>ul>li>ul>li>ul>li{margin-bottom:5px; padding:8px; border:1px solid #ddd; border-radius:10px;}
body>ul>li>ul>li>ul>li:hover{box-shadow: 0 1px 6px rgba(60,64,67,.28);}
body>ul>li>ul>li>ul>li:last-child{margin-bottom:0}
body>ul>li>ul>li>ul>li>a{display:block; position:relative; font-size:16px; padding-left:26px; font-weight:600}
body>ul>li>ul>li>ul>li>a:after{content:''; position:absolute; left:0; top:50%; width:20px; height:20px; margin-top:-10px; border-radius:50%; background: #e2e4e6}
body>ul>li>ul>li>ul>li>ul{margin-top:5px; padding-top:5px; padding-left:10px; border-top:1px solid #ddd;}
body>ul>li>ul>li>ul>li>ul>li{position:relative;margin-bottom:8px; padding-bottom:8px;}
body>ul>li>ul>li>ul>li>ul>li:before{content:''; position:absolute; left:-7px; bottom:0; width:calc(100% + 7px); height:1px; border-top: 1px dotted #ddd;}
body>ul>li>ul>li>ul>li>ul>li:last-of-type{padding-bottom:0; margin-bottom:0}
body>ul>li>ul>li>ul>li>ul>li:last-of-type::before{display:none;}
body>ul>li>ul>li>ul>li>ul>li>a{display:block; position:relative; padding-left:15px; font-size:14px; }
body>ul>li>ul>li>ul>li>ul>li>a:after{content:''; position:absolute; left:-7px;  top:50%; width:16px; height:16px; margin-top:-8px; border-radius:50%; background:#e2e4e6}
body>ul>li>ul>li>ul>li>ul>li ul{position:relative; padding-left:15px; margin-top:5px;}
body>ul>li>ul>li>ul>li>ul>li ul:after{content:''; position:absolute; left:0; top:0; width:1px; height:100%; background: #ddd;}
body>ul>li>ul>li>ul>li>ul>li ul li{margin-bottom:5px;}
body>ul>li>ul>li>ul>li>ul>li ul li:last-of-type{margin-bottom:0}
body>ul>li>ul>li>ul>li>ul>li ul li a{display:block; position:relative;padding-left:15px; font-weight:300; font-size:13px;}
body>ul>li>ul>li>ul>li>ul>li ul li a:after{content:''; position:absolute; left:-6px; top:50%; width:14px; height:14px; margin-top:-7px;  border-radius:50%; background:#e2e4e6}

/* big 모드*/
body.big>ul>li{border-radius: 15px; padding:10px 15px; min-width:300px;}
body.big>ul>li>a{font-size:40px;}
body.big>ul>li>ul{margin-top:20px; }
body.big>ul>li>ul>li{margin-bottom:10px; padding:20px; border-radius: 35px;}
body.big>ul>li>ul>li:last-child{margin-bottom:0}
body.big>ul>li>ul>li>a{padding-left:40px; font-size:25px;}
body.big>ul>li>ul>li>a:after{height:30px; width:30px;}
body.big>ul>li>ul>li>ul{margin-top:10px;}
body.big>ul>li>ul>li>ul>li{margin-bottom:10px; padding:15px;  border-radius:10px;}
body.big>ul>li>ul>li>ul>li:last-child{margin-bottom:0}
body.big>ul>li>ul>li>ul>li>a{padding-left:32px; font-size:22px;}
body.big>ul>li>ul>li>ul>li>a:after{width:26px; height:26px; margin-top:-13px;}
body.big>ul>li>ul>li>ul>li>ul{margin-top:10px; padding-top:10px; padding-left:20px;}
body.big>ul>li>ul>li>ul>li>ul>li{margin-bottom:15px; padding-bottom:15px;}
body.big>ul>li>ul>li>ul>li>ul>li:before{left:-11px; bottom:0; width:calc(100% + 11px); }
body.big>ul>li>ul>li>ul>li>ul>li:last-of-type{padding-bottom:0; margin-bottom:0}
body.big>ul>li>ul>li>ul>li>ul>li>a{padding-left:17px; font-size:18px;}
body.big>ul>li>ul>li>ul>li>ul>li>a:after{left:-11px; width:22px; height:22px; margin-top:-11px;}
body.big>ul>li>ul>li>ul>li>ul>li ul{padding-left:20px; margin-top:10px;}
body.big>ul>li>ul>li>ul>li>ul>li ul li{margin-bottom:10px; }
body.big>ul>li>ul>li>ul>li>ul>li ul li:last-of-type{margin-bottom:0}
body.big>ul>li>ul>li>ul>li>ul>li ul li a{ padding-left:17px; font-weight:300; font-size:16px;}
body.big>ul>li>ul>li>ul>li>ul>li ul li a:after{left:-8px; width:18px; height:18px; margin-top:-9px;}

/*quick*/
#quick{display:flex; position:fixed; left:50%; bottom:0; padding:10px 5px; border:1px solid #ddd; transform: translateX(-50%); z-index: 1; border-top-left-radius:20px; border-top-right-radius:20px; }
#quick:before{content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(255,255,255,0.1); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); overflow:hidden; border-top-left-radius:20px; border-top-right-radius:20px; }
#quick:after{content: ''; position: absolute; bottom: -38px; left: -10px; width: calc(100% + 20px); height: 13px; box-shadow: 0 -24px 12px #5b5b5b; z-index: 1;}
#quick .info{display:flex;}
#quick .info li{margin:0 2px; min-width:45px;}
#quick .info li span{display:block; position:relative; font-size:11px; padding-top:25px; text-align:center;}
#quick .info li span:after{content:''; position:absolute; left:50%; top:0; width:20px; height:20px; transform: translateX(-50%); border-radius:50%; background: #e2e4e6}
#quick .info li.lv1 span:after{background: #61bd4f}
#quick .info li.lv2 span:after{background: #f2d600}
#quick .info li.lv3 span:after{background: #eb5a46}
#quick .info li.lv4 span:after{background: #c377e0}
#quick .info li.lv5 span:after{background: #0079bf}
#quick .mode{display:flex; align-items: center; position:relative; padding-left:10px; margin-left:5px;}
#quick .mode:after{content:''; position:absolute; left:0; top:50%; transform: translateY(-50%); height:calc(100% - 20px); width:1px; background: #ddd;}
#quick .mode li{margin:0 2px;}
#quick .mode li button{font-size:30px; }

/*세로모드*/
body.list>ul{flex-direction: column; align-items:initial;}

/*가로모드*/
body.horizontal>ul{flex-wrap: nowrap;}
body.horizontal>ul>li:not(.main_depth){flex:none;}

/*다크모드*/
@media (prefers-color-scheme: dark) {
    body{background:#010409}
    body * {color:#e6edf3}
    body>ul>li{background:#0d1117; border:1px solid #30363d; box-shadow: none;}
    body>ul>li>ul>li{background:#161b22; box-shadow: none; border:1px solid #30363d;}
    body>ul>li>ul>li>ul>li{border-color:#30363d}
    body>ul>li>ul>li>ul>li>ul{border-color:#30363d}
    body>ul>li>ul>li>ul>li>ul>li:before{border-color:#30363d}
    body a:hover{color:#3081f7; text-decoration:underline;}
    #quick{border-color:#30363d;}
}